<div class="footer">
    <div class="container">
        <small>
            <ul>
                <li><a routerLink="/about">About</a><li>      
                <li><a href="https://github.com/mbaugus/prsangular">Front-end</a></li>
                <li><a href="https://github.com/mbaugus/PRS">Back-end</a></li>
                <li><a href="mailto:mbaugus@gmail.com">Email</a></li>
            </ul>
        <p class="pp">This Purchase Request System was created by Mike Baugus, a 
            <a href="https://maxtrain.com/career/#">Cincy Code IT Bootcamp</a> graduate.
            <br>
           It demonstrate his knowledge in the field of Web Application Development.
        </p>
    </small>
    </div>
</div>

<!--<span><a routerLink="/about">Created by Mike Baugus</a></span>-->