<p class="lead">{{pagetitle}}</p>
<app-breadcrumb></app-breadcrumb>
<hr class="my-2">

<app-specialbtn [info]="{ permission: ['admin'], type: 'bootstrap', display: 'Create Product', url: '/products/create' }" ></app-specialbtn>

  <div *ngIf="products.length > 0" id="content">
    <br>
  <table class="table table-sm text-center table-striped table-hover">
    <thead class="thead-dark">
      <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Part number</th>
      <th scope="col">Vendor</th>
      <th scope="col">Active</th>
      <th scope="col">Thumbnail</th>
      <th scope="col"></th>
      </tr>
    </thead>
    
    <tbody>
    <tr *ngFor="let product of products">
      <td scope="row" >{{product.Id}}</td>
      <td scope="row">{{product.Name}}</td>
      <td>{{product.Price | currency}}</td>
      <td>{{product.PartNumber}}</td>
      <td><a routerLink='/vendors/detail/{{product.VendorID}}'>{{product.Vendor.Name}}</a></td>
      <td>{{product.Active ? "Active" : "Inactive" }}</td>
      <td><app-image-product [basePath]="product.PhotoPath" [thumbnail]="true"></app-image-product></td>
      <td>
        <app-specialbtn [url]="'/products/detail/' + product.Id" [info]="{ permission: ['admin'], type: 'detail', display: '',  url: '/products/detail/product.Id' }"></app-specialbtn>
        <app-specialbtn [url]="'/products/edit/' + product.Id"   [info]="{ permission: ['admin'], type: 'edit',   display: '',  url: '/products/edit/product.Id' }"></app-specialbtn>
      </td>
    </tr>
  </tbody>
  
  </table>
  </div>

  <div [hidden]="products.length > 0">
    <app-loader-image></app-loader-image>
  </div>
