<div id="menu">

<nav>
    <ul *ngIf='LoggedIn'>
      <li><a routerLink="/home" routerLinkActive="activelink" >PRS</a></li>
      <li *ngFor="let menu of menuItems">
        <app-menu-item [menuItem]="menu"></app-menu-item>
      </li>
    
      <div *ngIf='LoggedIn' class="mydropdown">
          <div class="mydropbtn">{{Name}} 
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="my-dropdown-content">
            <div class="my-dropdown-link" (click)="logout()">Logout</div>
          </div>
      </div>
    </ul>
</nav>

</div> <!-- end menu div -->