ul{
    list-style: none;
    display: block;
    background-color:rgb(51, 50, 50)
}

li{
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    list-style-type: none;
    color: #fff
}

a{
    font-size: 2em;
    margin-right: 10px;
    color: rgb(0, 255, 0)
}
