.groupbox{
    border: 1px solid rgba(0,0,0,.125);
}

.groupheader{
    width: 100%;
    height: auto;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

.groupcontent{  
    padding-left: 40px;
    padding-top: 15px;
}

input[type=radio]{
    transform: scale(1.5);
}
 
input[type=text]{
    width: 100%;
}