<p class="lead">{{pagetitle}}</p>
<app-breadcrumb></app-breadcrumb>
<hr class="my-2">

<div *ngIf="pr">
  <p class="lead"><b>{{pr.Description}}</b></p>
  <h1>{{pr.Total | currency}}</h1>

  <div class="list-group">

      <div class="list-group-item list-group-item-action flex-column align-items-start active">
        <p class="text-center"></p>Requested items to be purchased.
      </div>

      <div *ngFor="let p of prli" class="list-group-item list-group-item-action ">
          <div class="row">
            <div class="col-sm-2">{{p.Product.Name}}</div>
            <div class="col-sm-2"><input class="tinyinput" type="number" [(ngModel)]="p.Quantity" min='1' max='999'></div>
            <div class="col-sm-2">Total: {{ (p.Quantity * p.Product.Price) | currency }}</div>
            <div class="col-sm-2"><app-image-product [basePath]="p.Product.PhotoPath" [thumbnail]="true"></app-image-product></div>
            <div class="col-sm-2"><button class="btn-primary" (click)="Update(p)">Update</button></div>
            <div class="col-sm-2"><div class="trash" (click)="Remove(p)"><i class="fas fa-trash" style="color:red"></i></div></div>  
          </div>
        <br>
      </div>
  <!--
    Id: number;
    PurchaseRequestID: number;
    ProductID: number;
    Quantity: number;
    Active: boolean;
    DateCreated: string;
    DateUpdated: string;
    UpdateLastUserID: number;
  -->
</div>